* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: font1;
  src: url(./assets/fonts/Ador\ Noirrit\ Web.otf);
  font-weight: 400, 100;
}
@font-face {
  font-family: font2;
  src: url(./assets/fonts/LiNiladriRongtuliUnicode-Regular.ttf);
}
@font-face {
  font-family: font3;
  src: url(./assets/fonts/Li\ Sheikh\ Hasina\ 2\ Unicode.ttf);
}
.cover-bg {
  background-image: url(./assets/images/cover-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  text-decoration: none;
  color: #003b60;
  font-family: font1;
  font-weight: 400;
  font-size: 20px;
}
.navbar li {
  list-style: none;
  margin-left: 20px;
}
.heading h5 {
  background-color: #012a4a;
  font-family: font1;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ffff;
  width: 220px;
  text-align: center;
  padding: 15px 5px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.heading h1 {
  font-family: font2;
  letter-spacing: 1px;
  font-size: 36px;
  color: #003b60;
  margin: 20px 0;
}
.order-button {
  background-color: #f0e615;
  justify-content: center;
  padding: 10px 0;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 262px;
  font-size: 24px;
  cursor: pointer;
  border: none;
}
.denim {
  background-image: url(./assets/images/denim.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.round img {
  width: 339px;
  height: 519px;
  position: absolute;
  bottom: 400px;
  left: 100px;
}
.jeans-bg {
  background-color: #fff;
  width: 257px;
  height: 316px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}
.jeans-bg img {
  width: 217.16px;
  padding: 20px 20px;
}
.jeans-bg button {
  background-color: #003b60;
  padding: 15px 25px;
  border: none;
  color: #fff;
  font-family: font1;
  font-size: 18px;
  width: 70%;
  height: 60px;
  margin: 0px auto;
  display: block;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
#products {
  position: relative;
}
.jeans-roll {
  background-image: url(./assets/images/jeans-roll1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80%;
  height: 700px;
  position: absolute;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.price {
  background-image: url(./assets/images/pocket.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 60%;
  height: 500px;
  position: absolute;
  margin-top: -250px;
  left: 50%;
  transform: translateX(-50%);
}
.reviews {
  background-color: #fff;
  position: relative;
  width: 250px;
  height: 220px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: block;
  margin-top: 350px;
}
.reviews h4 {
  text-align: center;
  margin-top: 50px;
}
.reviews h6 {
  font-family: font1;
  font-size: 20px;
  color: #003b60;
  text-align: center;
}
.reviews p {
  margin-top: 8px;
  font-family: font1;
  font-size: 18px;
  padding: 10px;
  color: #003b60;
}
.reviews img {
  position: absolute;
  height: 80px;
  height: 80px;
  left: 85px;
  top: -40px;
}

.footer-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 59, 96, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(./assets/images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.footer-bg img {
  position: absolute;
  top: 0;
  left: 0;
}

.form input {
  padding: 10px 200px 10px 8px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
  outline: none;
}

.form input:focus {
  outline: 2px solid #fff;
}

.form input::-webkit-input-placeholder {
    color: #fff;
}

#payment{
 color: #fff;
  
}

.footer{
 
  background-image: linear-gradient(
      to top,
      rgba(0, 59, 96, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(./assets/images/footer.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 40vh;
}
 